numpy
ad3
atlas
decorator 
boto
bz2file
cvxopt
cycler
nltk
httpretty
logging 
path.py
pexpect
ptyprocess
pyparsing
python-dateutil
pytz
requests
scipy
sklearn
Cython
simplegeneric
six
smart-open
threadpool
traitlets
